@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 ">
        <div class="card border mt-5">
            <div class="card-body">
                <h1>Cennet Emlak Yönetim Paneli</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>