@model AppRole
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="mt-3">Create Rol</h2>
<hr>
<form asp-controller="Roles" asp-action="Create" method="post" class="mt-3">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
    </div>

    <button type="submit" class="btn btn-outline-primary">Kaydet</button>
</form>